<head>
  <title>{{ config.SITE_NAME }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <!-- <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/png"> -->
  <meta itemprop="name" content="XMR Node Cannon">
  <meta itemprop="description" content="Send XMR to launch a public Monero node for the world.">
  <meta itemprop="image" content="https://web.getmonero.org/press-kit/symbols/monero-symbol-480.png">
  <meta property="og:type" content="website">
  <meta property="og:title" content="XMR Node Cannon">
  <meta property="og:description" content="Send XMR to launch a public Monero node for the world.">
  <meta property="og:image" content="https://web.getmonero.org/press-kit/symbols/monero-symbol-480.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="XMR Node Cannon">
  <meta name="twitter:description" content="Send XMR to launch a public Monero node for the world.">
  <meta name="twitter:image" content="https://web.getmonero.org/press-kit/symbols/monero-symbol-480.png">
  <meta name="keywords" content="monero, xmr, node, daemon, cryptocurrency, network">
  <link rel="stylesheet" href="/static/css/bulma.min.css" />
  <link rel="stylesheet" href="/static/css/all.min.css" />
  <link rel="stylesheet" href="/static/css/main.css" />
</head>
